<web-app>
  <servlet>
    <servlet-name>produk</servlet-name>
    <servlet-class>controller.produkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>produk</servlet-name>
    <url-pattern>/produk</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>transaksi</servlet-name>
    <servlet-class>controller.TransaksiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transaksi</servlet-name>
    <url-pattern>/transaksi</url-pattern>
  </servlet-mapping>
</web-app>
